@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Paytone+One&display=swap');
/* body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} */

/* *{
    transition: .3s;
} */


.container{
    max-width: 1000px;
    margin: auto;
}

.heroSection{
    height: 100vh;
    background: url('/hero-3.jpg') center;
    background-size: cover;
}

.heroText{
    text-align: center;
    color: #fff;
    padding-top: 250px;
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Fjalla One', sans-serif;
}

.heroText h1{
    font-size: 5em;
    margin: 0;
    /* font-family: 'Paytone One', sans-serif; */
    font-family: 'Fjalla One', sans-serif;

    /* color: #000; */
}

.heroText p{
    font-size: 1.5em;
}

.heroText button{
    color: #fff;
    background: transparent;
    border: solid 2px #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 5px;
    font-weight: bold;
    display: inline-block;
}

.heroText button:hover{
    cursor: pointer;
    background: #fff;
    border: solid 2px #fff;
    color: #333;
}

button.joinNow{
    background: rgb(0, 206, 93);
    border: solid 2px rgb(0, 206, 93);
    color: #000;
}

button.joinNow:hover{
    color: #fff;
    background: rgb(1, 168, 76);
    border: solid 2px rgb(1, 168, 76);
}